.div-accion-main{
    background-color: var(--card-color);
    border: 2px solid var(--main-color-blue);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    height: 8%;
    width: 70%;
    margin: 5px 0px;
    color: black;
}

.titulo-acciones{
    width: 65%;
}

.div-btn-acciones{
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
}
.btn-acciones-editar{
    background-color: var(--main-color-blue);
    color: var(--card-color);
    width: 45%;
    height: 70%;
    border: none;
    margin-right: 5px;
}
.btn-acciones-eliminar{
    background-color: red;
    color: var(--card-color);
    border: none;
    width: 45%;
    height: 70%;
}


.div-accion-main2{
    background-color: var(--card-color);
    border: 2px solid var(--main-color-blue);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    border-radius: 5px;
    height: 8%;
    width: 80%;
    margin: 5px 0px;
}

.div-btn-acciones2{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}
