

.buttonsContainer{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 75%;
    padding: 10px 10px;
    justify-content: space-evenly;

}

.btn-admin-style{
    width: 150px;
    min-width: auto;
    padding: 5px 0px;
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
}




